# Exploratory data analysis for benin-malanville

## Summary Statistics

### Reading data

In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('../data/benin-malanville.csv')

### Inspect data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

In [4]:
df.shape

(525600, 19)

In [17]:
df.tail(100)   # Displays the first 5 rows starting from 0

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
525500,2022-08-08 22:21,-5.7,-0.2,-5.6,0.0,0.0,22.9,98.7,2.1,2.4,0.4,143.6,5.5,995,0,0.0,23.2,22.6,NaN
525501,2022-08-08 22:22,-5.7,-0.2,-5.5,0.0,0.0,22.9,98.7,2.1,2.6,0.4,146.2,4.7,995,0,0.0,23.2,22.6,NaN
525502,2022-08-08 22:23,-5.7,-0.2,-5.5,0.0,0.0,22.9,98.7,2.0,2.6,0.4,147.2,5.1,995,0,0.0,23.2,22.6,NaN
525503,2022-08-08 22:24,-5.6,-0.2,-5.5,0.0,0.0,22.9,98.7,2.2,2.6,0.4,157.8,5.8,995,0,0.1,23.2,22.6,NaN
525504,2022-08-08 22:25,-5.5,-0.2,-5.4,0.0,0.0,22.9,98.7,2.2,2.6,0.4,163.3,6.1,995,0,0.0,23.2,22.6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
525595,2022-08-08 23:56,-5.5,-0.1,-5.9,0.0,0.0,23.1,98.3,0.3,1.1,0.5,119.3,4.1,996,0,0.0,23.5,22.9,NaN
525596,2022-08-08 23:57,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.2,0.7,0.4,115.2,2.3,996,0,0.0,23.5,22.9,NaN
525597,2022-08-08 23:58,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.4,0.6,1.1,0.5,129.8,3.4,996,0,0.0,23.5,22.9,NaN
525598,2022-08-08 23:59,-5.5,-0.1,-5.8,0.0,0.0,23.1,98.3,0.9,1.3,0.5,124.4,4.3,996,0,0.0,23.5,22.9,NaN
525599,2022-08-09 00:00,-5.5,-0.1,-5.7,0.0,0.0,23.1,98.3,1.2,1.6,0.3,124.1,5.9,996,0,0.0,23.5,22.9,NaN

In [6]:
summary = df.describe()

In [7]:
summary

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,240.559452,167.187516,115.358961,236.589496,228.883576,28.179683,54.487969,2.121113,2.809195,0.473390,153.435172,8.582407,994.197199,0.000923,0.001905,35.246026,32.471736,NaN
std,331.131327,261.710501,158.691074,326.894859,316.536515,5.924297,28.073069,1.603466,2.029120,0.273395,102.332842,6.385864,2.474993,0.030363,0.037115,14.807258,12.348743,NaN
min,-12.900000,-7.800000,-12.600000,0.000000,0.000000,11.000000,2.100000,0.000000,0.000000,0.000000,0.000000,0.000000,985.000000,0.000000,0.000000,9.000000,8.100000,NaN
25%,-2.000000,-0.500000,-2.100000,0.000000,0.000000,24.200000,28.800000,1.000000,1.300000,0.400000,59.000000,3.700000,993.000000,0.000000,0.000000,24.200000,23.600000,NaN
50%,1.800000,-0.100000,1.600000,4.500000,4.300000,28.000000,55.100000,1.900000,2.600000,0.500000,181.000000,8.600000,994.000000,0.000000,0.000000,30.000000,28.900000,NaN
75%,483.400000,314.200000,216.300000,463.700000,447.900000,32.300000,80.100000,3.100000,4.100000,0.600000,235.100000,12.300000,996.000000,0.000000,0.000000,46.900000,41.500000,NaN
max,1413.000000,952.300000,759.200000,1342.300000,1342.300000,43.800000,100.000000,19.500000,26.600000,4.200000,360.000000,99.400000,1003.000000,1.000000,2.500000,81.000000,72.500000,NaN

## Data Quality Check

* Check for missing values:

In [8]:
missing_values = df.isnull().sum()

In [9]:
missing_values

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

* Check for Incorrect Entries

In [10]:
invalid_entries = df[(df['GHI'] < 0) | (df['DNI'] < 0) | (df['DHI'] < 0)]
print(f"Invalid Entries Found:\n{invalid_entries}")

Invalid Entries Found:
               Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
0       2021-08-09 00:01 -1.2 -0.2 -1.1   0.0   0.0  26.2  93.4  0.0     0.4
1       2021-08-09 00:02 -1.1 -0.2 -1.1   0.0   0.0  26.2  93.6  0.0     0.0
2       2021-08-09 00:03 -1.1 -0.2 -1.1   0.0   0.0  26.2  93.7  0.3     1.1
3       2021-08-09 00:04 -1.1 -0.1 -1.0   0.0   0.0  26.2  93.3  0.2     0.7
4       2021-08-09 00:05 -1.0 -0.1 -1.0   0.0   0.0  26.2  93.3  0.1     0.7
...                  ...  ...  ...  ...   ...   ...   ...   ...  ...     ...
525595  2022-08-08 23:56 -5.5 -0.1 -5.9   0.0   0.0  23.1  98.3  0.3     1.1
525596  2022-08-08 23:57 -5.5 -0.1 -5.8   0.0   0.0  23.1  98.3  0.2     0.7
525597  2022-08-08 23:58 -5.5 -0.1 -5.8   0.0   0.0  23.1  98.4  0.6     1.1
525598  2022-08-08 23:59 -5.5 -0.1 -5.8   0.0   0.0  23.1  98.3  0.9     1.3
525599  2022-08-09 00:00 -5.5 -0.1 -5.7   0.0   0.0  23.1  98.3  1.2     1.6

        WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
0           0.1  122.1      0.0  998         0            0.0   26.3   26.2
1           0.0    0.0      0.0  998         0            0.0   26.3   26.2
2           0.5  124.6      1.5  997         0            0.0   26.4   26.2
3           0.4  120.3      1.3  997         0            0.0   26.4   26.3
4           0.3  113.2      1.0  997         0            0.0   26.4   26.3
...         ...    ...      ...  ...       ...            ...    ...    ...
525595      0.5  119.3      4.1  996         0            0.0   23.5   22.9
525596      0.4  115.2      2.3  996         0            0.0   23.5   22.9
525597      0.5  129.8      3.4  996         0            0.0   23.5   22.9
525598      0.5  124.4      4.3  996         0            0.0   23.5   22.9
525599      0.3  124.1      5.9  996         0            0.0   23.5   22.9

        Comments
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
525595       NaN
525596       NaN
525597       NaN
525598       NaN
525599       NaN

[278722 rows x 19 columns]

* Invalid Ranges: For columns like wind direction (WD), ensure values are within the valid range (0–360 degrees):

In [11]:
invalid_wd = df[(df['WD'] < 0) | (df['WD'] > 360)]
print(f"Invalid Wind Direction Entries:\n{invalid_wd}")

Invalid Wind Direction Entries:
Empty DataFrame
Columns: [Timestamp, GHI, DNI, DHI, ModA, ModB, Tamb, RH, WS, WSgust, WSstdev, WD, WDstdev, BP, Cleaning, Precipitation, TModA, TModB, Comments]
Index: []

* Check Autliers

In [19]:
def detect_outliers_zscore(series, threshold=3):
  """
  Detects outliers in a pandas Series using the Z-score method.

  Args:
    series: The pandas Series containing the data.
    threshold: The z-score threshold for identifying outliers (default: 3).

  Returns:
    A boolean Series indicating whether each data point is an outlier.
  """
  z_scores = np.abs((series - series.mean()) / series.std())
  return z_scores > threshold

In [20]:
columns_to_check = ['ModA', 'ModB', 'WS', 'WSgust']

for col in columns_to_check:
  # Detect outliers using Z-score
  outliers_zscore = detect_outliers_zscore(df[col]) 
  print(f"Outliers in {col} (Z-score):")
  print(df[outliers_zscore])

Outliers in ModA (Z-score):
               Timestamp     GHI    DNI    DHI    ModA    ModB  Tamb    RH  \
674     2021-08-09 11:15  1349.0  771.8  618.0  1281.5  1281.5  30.9  67.1
676     2021-08-09 11:17  1334.0  751.9  620.0  1267.3  1267.3  31.1  67.0
850     2021-08-09 14:11  1324.0  813.0  532.3  1218.0  1217.0  31.0  62.9
5019    2021-08-12 11:40  1324.0  675.6  659.6  1271.0  1271.0  29.1  75.4
5024    2021-08-12 11:45  1360.0  827.0  543.5  1305.6  1305.6  29.6  71.3
8021    2021-08-14 13:42  1309.0  880.0  427.1  1220.0  1222.0  30.6  68.4
12245   2021-08-17 12:06  1390.0  860.0  518.3  1320.5  1320.5  28.8  75.9
12246   2021-08-17 12:07  1413.0  880.0  523.9  1342.3  1342.3  28.8  75.0
12270   2021-08-17 12:31  1381.0  878.0  481.2  1312.0  1312.0  29.3  72.7
12271   2021-08-17 12:32  1391.0  869.0  500.4  1321.5  1321.5  29.4  74.8
12272   2021-08-17 12:33  1375.0  818.0  535.2  1306.2  1306.2  29.7  72.7
12303   2021-08-17 13:04  1302.0  890.0  391.4  1236.9  1236.9  29.9  70.8
12337   2021-08-17 13:38  1342.0  877.0  457.3  1274.9  1274.9  30.4  67.4
20918   2021-08-23 12:39  1360.0  768.0  570.9  1292.0  1292.0  30.9  63.2
20921   2021-08-23 12:42  1383.0  819.0  541.6  1313.8  1313.8  31.0  61.8
20922   2021-08-23 12:43  1394.0  817.0  552.5  1324.3  1324.3  31.1  62.1
29567   2021-08-29 12:48  1323.0  630.5  670.8  1270.0  1270.0  29.2  74.6
43972   2021-09-08 12:53  1249.0  617.8  612.0  1217.8  1217.8  32.6  57.0
52630   2021-09-14 13:11  1257.0  614.1  636.3  1228.5  1230.0  28.4  74.6
52637   2021-09-14 13:18  1278.0  679.7  594.5  1236.8  1236.0  28.7  73.4
54026   2021-09-15 12:27  1257.0  842.0  394.7  1219.3  1219.3  30.8  72.4
54027   2021-09-15 12:28  1287.0  826.0  439.6  1248.4  1248.4  30.8  71.6
54040   2021-09-15 12:41  1272.0  824.0  425.7  1233.8  1246.0  31.0  73.3
54080   2021-09-15 13:21  1273.0  845.0  420.6  1234.8  1234.8  32.1  66.5
186528  2021-12-16 12:49  1150.0  872.5  412.3  1266.1  1175.0  30.4  16.9
360713  2022-04-16 11:54  1282.0  614.2  656.8  1224.0  1220.0  31.2  58.1
360714  2022-04-16 11:55  1352.0  683.4  657.1  1281.3  1277.0  31.2  58.2

         WS  WSgust  WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  \
674     4.0     4.6      0.4  169.1     12.3  999         0            0.0
676     2.7     3.6      0.6  208.0     15.9  999         0            0.0
850     2.2     3.1      0.6  225.6     10.7  997         0            0.0
5019    3.6     4.9      0.7  172.2     11.4  997         0            0.0
5024    2.9     3.6      0.6  192.2     13.5  997         0            0.0
8021    3.9     4.9      0.7  262.4      8.2  995         0            0.0
12245   2.8     3.9      0.7  258.8     10.2  998         0            0.0
12246   1.7     2.9      0.7  244.8     10.8  998         0            0.0
12270   2.1     2.9      0.4  253.9     13.2  998         0            0.0
12271   1.2     2.1      0.7  234.0     12.0  998         0            0.0
12272   2.4     3.6      1.0  222.2     10.2  998         0            0.0
12303   1.9     2.6      0.5  252.3     15.4  998         0            0.0
12337   2.1     2.9      0.5  221.0     11.2  997         0            0.0
20918   3.3     5.4      1.2  266.7     15.3  995         0            0.0
20921   2.2     2.6      0.4  288.8     11.5  995         0            0.0
20922   1.7     2.4      0.5  291.0     13.9  995         0            0.0
29567   2.6     3.1      0.5  134.2      8.3  994         0            0.0
43972   2.0     2.9      0.5  113.8     26.8  996         0            0.0
52630   2.1     2.6      0.5   74.4     13.2  995         0            0.0
52637   0.2     1.1      0.4  119.1      7.6  995         0            0.0
54026   3.4     4.9      0.7  176.0      8.8  997         0            0.0
54027   2.7     3.4      0.5  176.8     11.0  997         0            0.0
54040   2.0     2.6      0.4  115.4      7.6  997         0            0.0
54080   2.6     3.4      0.7  164.4     11.7  996         0            0.0
186528  4.5     6.9      1.1  101.5     17.8  996         0            0.0
360713  2.5     3.6      1.0   73.4     14.2  994         0            0.0
360714  1.6     2.4      0.4   47.7     16.2  993         0            0.0

        TModA  TModB  Comments
674      65.0   53.5       NaN
676      66.0   53.9       NaN
850      58.7   53.6       NaN
5019     57.2   46.8       NaN
5024     64.3   52.4       NaN
8021     59.4   54.9       NaN
12245    54.6   47.6       NaN
12246    57.6   49.5       NaN
12270    62.8   53.7       NaN
12271    65.4   55.6       NaN
12272    68.4   58.0       NaN
12303    57.6   51.0       NaN
12337    53.0   48.3       NaN
20918    64.5   55.6       NaN
20921    64.7   55.6       NaN
20922    66.4   56.6       NaN
29567    61.1   49.3       NaN
43972    70.1   58.9       NaN
52630    71.8   62.0       NaN
52637    66.7   54.1       NaN
54026    69.2   55.1       NaN
54027    70.2   56.5       NaN
54040    55.8   44.9       NaN
54080    61.8   52.7       NaN
186528   53.4   42.1       NaN
360713   62.5   48.1       NaN
360714   64.7   49.5       NaN
Outliers in ModB (Z-score):
               Timestamp     GHI    DNI    DHI    ModA    ModB  Tamb    RH  \
671     2021-08-09 11:12  1274.0  698.8  615.2  1210.3  1210.3  30.1  69.6
674     2021-08-09 11:15  1349.0  771.8  618.0  1281.5  1281.5  30.9  67.1
676     2021-08-09 11:17  1334.0  751.9  620.0  1267.3  1267.3  31.1  67.0
850     2021-08-09 14:11  1324.0  813.0  532.3  1218.0  1217.0  31.0  62.9
5019    2021-08-12 11:40  1324.0  675.6  659.6  1271.0  1271.0  29.1  75.4
...                  ...     ...    ...    ...     ...     ...   ...   ...
396684  2022-05-11 11:25  1298.0  690.1  629.5  1208.0  1195.0  35.4  46.4
493263  2022-07-17 13:04  1330.0  870.0  449.4  1194.0  1189.0  29.1  72.3
493264  2022-07-17 13:05  1319.0  859.0  448.7  1186.0  1180.0  29.3  71.3
514921  2022-08-01 14:02  1331.0  716.0  630.3  1206.0  1194.0  29.6  68.9
522075  2022-08-06 13:16  1289.0  758.1  519.2  1191.0  1179.0  31.4  65.9

         WS  WSgust  WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  \
671     3.4     4.1      0.6  175.8     13.3  999         0            0.0
674     4.0     4.6      0.4  169.1     12.3  999         0            0.0
676     2.7     3.6      0.6  208.0     15.9  999         0            0.0
850     2.2     3.1      0.6  225.6     10.7  997         0            0.0
5019    3.6     4.9      0.7  172.2     11.4  997         0            0.0
...     ...     ...      ...    ...      ...  ...       ...            ...
396684  4.4     5.6      0.7  265.0     20.3  994         0            0.0
493263  1.6     2.1      0.4  249.0     17.6  997         0            0.0
493264  2.1     3.1      0.9  238.0     15.2  997         0            0.0
514921  4.1     4.9      0.8  221.6     12.4  996         0            0.0
522075  4.1     5.1      0.7  259.4     13.9  996         0            0.0

        TModA  TModB  Comments
671      63.7   53.1       NaN
674      65.0   53.5       NaN
676      66.0   53.9       NaN
850      58.7   53.6       NaN
5019     57.2   46.8       NaN
...       ...    ...       ...
396684   61.7   52.0       NaN
493263   59.0   48.9       NaN
493264   62.8   51.7       NaN
514921   58.7   50.5       NaN
522075   63.0   54.0       NaN

[63 rows x 19 columns]
Outliers in WS (Z-score):
               Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
2958    2021-08-11 01:19 -1.2 -0.2 -0.6   0.0   0.0  23.5  94.9  7.9     9.4
10079   2021-08-16 00:00 -3.6 -0.9 -3.6   0.0   0.0  25.8  87.3  8.2     9.4
10080   2021-08-16 00:01 -4.1 -0.7 -4.1   0.0   0.0  25.5  86.7  7.6     9.4
10081   2021-08-16 00:02 -5.2 -1.1 -4.8   0.0   0.0  25.1  87.7  7.5    11.2
10082   2021-08-16 00:03 -5.6 -0.7 -5.3   0.0   0.0  24.6  88.8  8.1     9.7
...                  ...  ...  ...  ...   ...   ...   ...   ...  ...     ...
525105  2022-08-08 15:46  8.7 -0.2  8.6   9.0   8.8  21.7  98.7  7.0     8.7
525107  2022-08-08 15:48  8.4 -0.1  8.3   8.8   8.6  21.7  98.7  7.0     8.7
525119  2022-08-08 16:00  7.9  0.0  7.8   8.3   8.2  21.9  99.0  7.4     9.4
525141  2022-08-08 16:22  4.6 -0.1  4.6   6.1   5.9  21.9  99.0  7.1     9.7
525151  2022-08-08 16:32  4.7 -0.1  4.8   6.0   5.9  22.0  99.1  7.3     8.7

        WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
2958        0.8  244.3      8.1  996         0            0.0   24.3   23.7
10079       0.9  101.7     11.3  997         0            0.0   26.0   25.6
10080       1.3   92.3     13.4  997         0            0.0   25.7   25.3
10081       1.8   90.7     12.3  997         0            0.0   25.4   24.9
10082       1.2   92.5      9.0  997         0            0.0   25.1   24.5
...         ...    ...      ...  ...       ...            ...    ...    ...
525105      1.0  125.0     12.4  996         0            0.5   22.4   21.7
525107      0.8  125.0      8.2  996         0            0.5   22.5   21.8
525119      1.2  130.6      9.1  995         0            0.3   22.7   22.0
525141      1.2  127.8     10.7  995         0            0.2   22.8   22.0
525151      0.8  146.9      8.8  995         0            0.1   22.8   22.0

        Comments
2958         NaN
10079        NaN
10080        NaN
10081        NaN
10082        NaN
...          ...
525105       NaN
525107       NaN
525119       NaN
525141       NaN
525151       NaN

[3109 rows x 19 columns]
Outliers in WSgust (Z-score):
               Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb    RH   WS  WSgust  \
2958    2021-08-11 01:19 -1.2 -0.2 -0.6   0.0   0.0  23.5  94.9  7.9     9.4
2959    2021-08-11 01:20 -1.2 -0.1 -0.6   0.0   0.0  23.5  94.5  5.9     8.9
10079   2021-08-16 00:00 -3.6 -0.9 -3.6   0.0   0.0  25.8  87.3  8.2     9.4
10080   2021-08-16 00:01 -4.1 -0.7 -4.1   0.0   0.0  25.5  86.7  7.6     9.4
10081   2021-08-16 00:02 -5.2 -1.1 -4.8   0.0   0.0  25.1  87.7  7.5    11.2
...                  ...  ...  ...  ...   ...   ...   ...   ...  ...     ...
525136  2022-08-08 16:17  5.4  0.0  5.3   6.6   6.4  22.1  99.1  5.8     9.7
525141  2022-08-08 16:22  4.6 -0.1  4.6   6.1   5.9  21.9  99.0  7.1     9.7
525142  2022-08-08 16:23  4.6  0.2  4.6   5.9   5.8  21.9  99.0  6.5     9.2
525143  2022-08-08 16:24  4.5 -0.1  4.5   5.8   5.7  21.9  99.0  6.7     8.9
525155  2022-08-08 16:36  4.8  0.0  4.9   6.0   5.9  22.0  99.1  6.9     8.9

        WSstdev     WD  WDstdev   BP  Cleaning  Precipitation  TModA  TModB  \
2958        0.8  244.3      8.1  996         0            0.0   24.3   23.7
2959        1.1  241.9     11.2  996         0            0.0   24.2   23.6
10079       0.9  101.7     11.3  997         0            0.0   26.0   25.6
10080       1.3   92.3     13.4  997         0            0.0   25.7   25.3
10081       1.8   90.7     12.3  997         0            0.0   25.4   24.9
...         ...    ...      ...  ...       ...            ...    ...    ...
525136      1.9  124.7     13.8  995         0            0.2   22.9   22.1
525141      1.2  127.8     10.7  995         0            0.2   22.8   22.0
525142      1.2  126.3     12.3  995         0            0.2   22.8   22.0
525143      1.1  132.0      8.1  995         0            0.2   22.7   22.0
525155      1.1  153.8      9.4  995         0            0.1   22.8   22.0

        Comments
2958         NaN
2959         NaN
10079        NaN
10080        NaN
10081        NaN
...          ...
525136       NaN
525141       NaN
525142       NaN
525143       NaN
525155       NaN

[3500 rows x 19 columns]