# Exploratory data analysis for sierraleone-bumbuna

## Summary Statistics

### Reading data

In [15]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/sierraleone-bumbuna.csv')

### Inspect data

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

In [4]:
df.shape

(525600, 19)

In [5]:
df.head()   # Displays the first 5 rows starting from 0

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-30 00:01,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.1,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
1,2021-10-30 00:02,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
2,2021-10-30 00:03,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
3,2021-10-30 00:04,-0.7,0.0,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.1,22.3,22.6,NaN
4,2021-10-30 00:05,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN

In [6]:
summary = df.describe()

In [7]:
summary

,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
count,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,525600.000000,0.0
mean,201.957515,116.376337,113.720571,206.643095,198.114691,26.319394,79.448857,1.146113,1.691606,0.363823,133.044668,7.172220,999.876469,0.000967,0.004806,32.504263,32.593091,NaN
std,298.495150,218.652659,158.946032,300.896893,288.889073,4.398605,20.520775,1.239248,1.617053,0.295000,114.284792,7.535093,2.104419,0.031074,0.047556,12.434899,12.009161,NaN
min,-19.500000,-7.800000,-17.900000,0.000000,0.000000,12.300000,9.900000,0.000000,0.000000,0.000000,0.000000,0.000000,993.000000,0.000000,0.000000,10.700000,11.100000,NaN
25%,-2.800000,-0.300000,-3.800000,0.000000,0.000000,23.100000,68.700000,0.000000,0.000000,0.000000,0.000000,0.000000,999.000000,0.000000,0.000000,23.500000,23.800000,NaN
50%,0.300000,-0.100000,-0.100000,3.600000,3.400000,25.300000,85.400000,0.800000,1.600000,0.400000,161.500000,6.200000,1000.000000,0.000000,0.000000,26.600000,26.900000,NaN
75%,362.400000,107.000000,224.700000,359.500000,345.400000,29.400000,96.700000,2.000000,2.600000,0.600000,234.100000,12.000000,1001.000000,0.000000,0.000000,40.900000,41.300000,NaN
max,1499.000000,946.000000,892.000000,1507.000000,1473.000000,39.900000,100.000000,19.200000,23.900000,4.100000,360.000000,98.400000,1006.000000,1.000000,2.400000,72.800000,70.400000,NaN

## Data Quality Check

* Check for missing values:

In [8]:
missing_values = df.isnull().sum()

In [9]:
missing_values

Timestamp             0
GHI                   0
DNI                   0
DHI                   0
ModA                  0
ModB                  0
Tamb                  0
RH                    0
WS                    0
WSgust                0
WSstdev               0
WD                    0
WDstdev               0
BP                    0
Cleaning              0
Precipitation         0
TModA                 0
TModB                 0
Comments         525600
dtype: int64

* Check for Incorrect Entries

In [10]:
invalid_entries = df[(df['GHI'] < 0) | (df['DNI'] < 0) | (df['DHI'] < 0)]
print(f"Invalid Entries Found:\n{invalid_entries}")

Invalid Entries Found:
               Timestamp  GHI  DNI  DHI  ModA  ModB  Tamb     RH   WS  WSgust  \
0       2021-10-30 00:01 -0.7 -0.1 -0.8   0.0   0.0  21.9   99.1  0.0     0.0
1       2021-10-30 00:02 -0.7 -0.1 -0.8   0.0   0.0  21.9   99.2  0.0     0.0
2       2021-10-30 00:03 -0.7 -0.1 -0.8   0.0   0.0  21.9   99.2  0.0     0.0
3       2021-10-30 00:04 -0.7  0.0 -0.8   0.0   0.0  21.9   99.3  0.0     0.0
4       2021-10-30 00:05 -0.7 -0.1 -0.8   0.0   0.0  21.9   99.3  0.0     0.0
...                  ...  ...  ...  ...   ...   ...   ...    ...  ...     ...
525595  2022-10-29 23:56 -1.6 -0.1 -2.9   0.0   0.0  24.0  100.0  0.0     0.0
525596  2022-10-29 23:57 -1.7 -0.1 -3.0   0.0   0.0  24.0  100.0  0.0     0.0
525597  2022-10-29 23:58 -1.7 -0.1 -3.1   0.0   0.0  24.0  100.0  0.0     0.0
525598  2022-10-29 23:59 -1.7 -0.2 -3.3   0.0   0.0  23.9  100.0  0.0     0.0
525599  2022-10-30 00:00 -1.7 -0.1 -3.4   0.0   0.0  23.9  100.0  0.0     0.0

        WSstdev   WD  WDstdev    BP  Cleaning  Precipitation  TModA  TModB  \
0           0.0  0.0      0.0  1002         0            0.0   22.3   22.6
1           0.0  0.0      0.0  1002         0            0.0   22.3   22.6
2           0.0  0.0      0.0  1002         0            0.0   22.3   22.6
3           0.0  0.0      0.0  1002         0            0.1   22.3   22.6
4           0.0  0.0      0.0  1002         0            0.0   22.3   22.6
...         ...  ...      ...   ...       ...            ...    ...    ...
525595      0.0  0.0      0.0   999         0            0.0   24.2   24.5
525596      0.0  0.0      0.0   999         0            0.0   24.2   24.5
525597      0.0  0.0      0.0  1000         0            0.0   24.1   24.4
525598      0.0  0.0      0.0  1000         0            0.0   24.1   24.4
525599      0.0  0.0      0.0  1000         0            0.0   24.1   24.4

        Comments
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
...          ...
525595       NaN
525596       NaN
525597       NaN
525598       NaN
525599       NaN

[286728 rows x 19 columns]

* Invalid Ranges: For columns like wind direction (WD), ensure values are within the valid range (0â€“360 degrees):

In [11]:
invalid_wd = df[(df['WD'] < 0) | (df['WD'] > 360)]
print(f"Invalid Wind Direction Entries:\n{invalid_wd}")

Invalid Wind Direction Entries:
Empty DataFrame
Columns: [Timestamp, GHI, DNI, DHI, ModA, ModB, Tamb, RH, WS, WSgust, WSstdev, WD, WDstdev, BP, Cleaning, Precipitation, TModA, TModB, Comments]
Index: []

* Check Autliers

In [16]:
def detect_outliers_zscore(series, threshold=3):
  """
  Detects outliers in a pandas Series using the Z-score method.

  Args:
    series: The pandas Series containing the data.
    threshold: The z-score threshold for identifying outliers (default: 3).

  Returns:
    A boolean Series indicating whether each data point is an outlier.
  """
  z_scores = np.abs((series - series.mean()) / series.std())
  return z_scores > threshold

In [17]:
columns_to_check = ['ModA', 'ModB', 'WS', 'WSgust']

for col in columns_to_check:
  # Detect outliers using Z-score
  outliers_zscore = detect_outliers_zscore(df[col]) 
  print(f"Outliers in {col} (Z-score):")
  print(df[outliers_zscore])

Outliers in ModA (Z-score):
               Timestamp     GHI    DNI    DHI    ModA    ModB  Tamb    RH  \
662     2021-10-30 11:03  1071.0  616.0  539.1  1142.0  1116.0  26.4  82.5
663     2021-10-30 11:04  1119.0  673.5  538.4  1193.0  1167.0  26.3  83.1
670     2021-10-30 11:11  1092.0  667.1  507.6  1163.0  1137.0  27.0  83.4
671     2021-10-30 11:12  1154.0  755.7  491.3  1237.0  1208.0  27.0  82.4
672     2021-10-30 11:13  1063.0  665.2  478.0  1132.0  1105.0  27.1  80.1
...                  ...     ...    ...    ...     ...     ...   ...   ...
517751  2022-10-24 13:12  1091.0  657.7  471.9  1123.0  1098.0  30.2  75.8
517808  2022-10-24 14:09  1085.0  737.7  447.3  1114.0  1092.0  30.4  74.1
517811  2022-10-24 14:12  1087.0  745.7  445.6  1112.0  1089.0  30.7  73.8
517823  2022-10-24 14:24  1109.0  762.0  470.3  1130.0  1109.0  30.6  73.1
520614  2022-10-26 12:55  1068.0  731.3  377.6  1124.0  1100.0  31.4  70.2

         WS  WSgust  WSstdev     WD  WDstdev    BP  Cleaning  Precipitation  \
662     0.2     0.7      0.4   20.2     11.9  1002         0            0.0
663     0.1     1.1      0.3  100.5      6.9  1002         0            0.0
670     2.0     2.6      0.4   57.0     11.6  1002         0            0.0
671     1.2     1.9      0.6   69.5     12.6  1002         0            0.0
672     0.6     1.6      0.7   90.5      5.6  1002         0            0.0
...     ...     ...      ...    ...      ...   ...       ...            ...
517751  3.4     4.4      0.6  244.1     19.8  1001         0            0.0
517808  1.7     3.1      1.1  265.9     16.3  1000         0            0.0
517811  3.9     4.4      0.5  235.4      8.4  1000         0            0.0
517823  2.7     3.4      0.5  249.8      7.5  1000         0            0.0
520614  1.1     2.1      0.6  255.7     14.0   998         0            0.0

        TModA  TModB  Comments
662      59.3   51.8       NaN
663      60.5   53.2       NaN
670      66.3   59.8       NaN
671      66.1   59.2       NaN
672      66.0   58.5       NaN
...       ...    ...       ...
517751   55.7   56.4       NaN
517808   54.1   58.0       NaN
517811   56.8   60.1       NaN
517823   47.4   50.2       NaN
520614   60.0   58.1       NaN

[1604 rows x 19 columns]
Outliers in ModB (Z-score):
               Timestamp     GHI    DNI    DHI    ModA    ModB  Tamb    RH  \
662     2021-10-30 11:03  1071.0  616.0  539.1  1142.0  1116.0  26.4  82.5
663     2021-10-30 11:04  1119.0  673.5  538.4  1193.0  1167.0  26.3  83.1
670     2021-10-30 11:11  1092.0  667.1  507.6  1163.0  1137.0  27.0  83.4
671     2021-10-30 11:12  1154.0  755.7  491.3  1237.0  1208.0  27.0  82.4
672     2021-10-30 11:13  1063.0  665.2  478.0  1132.0  1105.0  27.1  80.1
...                  ...     ...    ...    ...     ...     ...   ...   ...
520564  2022-10-26 12:05  1043.0  724.9  357.1  1099.0  1075.0  30.9  72.2
520565  2022-10-26 12:06  1039.0  729.6  348.3  1092.0  1068.0  30.9  74.1
520608  2022-10-26 12:49  1043.0  734.1  348.7  1095.0  1070.0  32.6  68.8
520613  2022-10-26 12:54  1019.0  641.6  412.5  1090.0  1065.0  31.7  69.9
520614  2022-10-26 12:55  1068.0  731.3  377.6  1124.0  1100.0  31.4  70.2

         WS  WSgust  WSstdev     WD  WDstdev    BP  Cleaning  Precipitation  \
662     0.2     0.7      0.4   20.2     11.9  1002         0            0.0
663     0.1     1.1      0.3  100.5      6.9  1002         0            0.0
670     2.0     2.6      0.4   57.0     11.6  1002         0            0.0
671     1.2     1.9      0.6   69.5     12.6  1002         0            0.0
672     0.6     1.6      0.7   90.5      5.6  1002         0            0.0
...     ...     ...      ...    ...      ...   ...       ...            ...
520564  2.7     3.4      0.5  214.4     12.0   999         0            0.0
520565  2.4     3.1      0.6  201.7     15.8   999         0            0.0
520608  0.5     1.6      0.6  317.0     33.6   998         0            0.0
520613  2.0     2.9      0.6  252.9     11.6   998         0            0.0
520614  1.1     2.1      0.6  255.7     14.0   998         0            0.0

        TModA  TModB  Comments
662      59.3   51.8       NaN
663      60.5   53.2       NaN
670      66.3   59.8       NaN
671      66.1   59.2       NaN
672      66.0   58.5       NaN
...       ...    ...       ...
520564   62.8   60.5       NaN
520565   63.2   60.8       NaN
520608   70.0   65.1       NaN
520613   60.6   58.0       NaN
520614   60.0   58.1       NaN

[2041 rows x 19 columns]
Outliers in WS (Z-score):
               Timestamp    GHI  DNI    DHI   ModA   ModB  Tamb    RH   WS  \
1279    2021-10-30 21:20   -1.0 -0.1   -1.1    0.0    0.0  25.4  81.7  5.1
2495    2021-10-31 17:36   35.2  3.6   34.3   35.1   33.1  31.2  66.8  7.5
2496    2021-10-31 17:37   28.9  0.3   29.0   30.8   29.0  30.9  66.7  6.2
2497    2021-10-31 17:38   26.0  0.2   26.2   29.3   27.8  30.6  63.6  5.2
2498    2021-10-31 17:39   24.6  0.2   24.8   28.9   27.4  30.2  63.6  5.3
...                  ...    ...  ...    ...    ...    ...   ...   ...  ...
522184  2022-10-27 15:05  167.2 -0.5  165.1  167.6  160.9  30.4  68.3  5.3
522185  2022-10-27 15:06  163.4 -0.6  161.0  165.7  159.2  30.2  67.7  7.1
522194  2022-10-27 15:15  183.5  0.3  181.6  173.7  168.7  29.3  70.2  4.9
523792  2022-10-28 17:53   31.3 -0.5   30.2   34.3   32.3  28.4  79.5  5.0
523794  2022-10-28 17:55   22.8 -0.8   21.4   26.5   25.0  27.9  80.4  5.0

        WSgust  WSstdev     WD  WDstdev    BP  Cleaning  Precipitation  TModA  \
1279       6.2      1.1   75.8     19.5  1004         0            0.0   25.8
2495       9.7      1.3  138.2     27.2   999         0            0.0   37.6
2496       7.9      0.9  111.9     15.5   999         0            0.0   36.4
2497       7.2      1.0   99.4     20.3   999         0            0.0   35.1
2498       7.4      1.3  101.5     18.6   999         0            0.0   34.1
...        ...      ...    ...      ...   ...       ...            ...    ...
522184     6.7      0.9  147.9     10.1   999         0            0.0   36.4
522185     8.4      0.8  144.5      7.7   999         0            0.0   35.6
522194     5.9      0.7  128.7     14.9   999         0            0.0   35.3
523792     6.4      0.9  354.4     22.9   999         0            0.0   31.3
523794     6.7      1.0   21.4     18.1   999         0            0.0   30.5

        TModB  Comments
1279     26.3       NaN
2495     39.0       NaN
2496     37.4       NaN
2497     35.9       NaN
2498     34.6       NaN
...       ...       ...
522184   36.4       NaN
522185   35.6       NaN
522194   35.1       NaN
523792   31.4       NaN
523794   30.6       NaN

[3967 rows x 19 columns]
Outliers in WSgust (Z-score):
               Timestamp    GHI    DNI    DHI   ModA   ModB  Tamb    RH   WS  \
1275    2021-10-30 21:16   -0.7    0.0   -0.9    0.0    0.0  25.2  86.8  4.0
1287    2021-10-30 21:28   -1.8   -1.8   -1.5    0.0    0.0  24.4  83.6  4.7
2495    2021-10-31 17:36   35.2    3.6   34.3   35.1   33.1  31.2  66.8  7.5
2496    2021-10-31 17:37   28.9    0.3   29.0   30.8   29.0  30.9  66.7  6.2
2497    2021-10-31 17:38   26.0    0.2   26.2   29.3   27.8  30.6  63.6  5.2
...                  ...    ...    ...    ...    ...    ...   ...   ...  ...
519396  2022-10-25 16:37  365.7  516.2  139.6  346.0  339.5  34.1  51.0  5.2
522183  2022-10-27 15:04  179.5   -0.5  177.6  177.1  170.0  30.5  68.8  5.2
522184  2022-10-27 15:05  167.2   -0.5  165.1  167.6  160.9  30.4  68.3  5.3
522185  2022-10-27 15:06  163.4   -0.6  161.0  165.7  159.2  30.2  67.7  7.1
523794  2022-10-28 17:55   22.8   -0.8   21.4   26.5   25.0  27.9  80.4  5.0

        WSgust  WSstdev     WD  WDstdev    BP  Cleaning  Precipitation  TModA  \
1275       6.7      1.4   98.6     19.4  1004         0            0.0   25.6
1287       6.7      1.4   62.6     11.5  1004         0            0.7   23.9
2495       9.7      1.3  138.2     27.2   999         0            0.0   37.6
2496       7.9      0.9  111.9     15.5   999         0            0.0   36.4
2497       7.2      1.0   99.4     20.3   999         0            0.0   35.1
...        ...      ...    ...      ...   ...       ...            ...    ...
519396     6.9      1.2   68.1     16.4   996         0            0.0   47.8
522183     7.2      1.0  150.3     10.4   999         0            0.0   37.2
522184     6.7      0.9  147.9     10.1   999         0            0.0   36.4
522185     8.4      0.8  144.5      7.7   999         0            0.0   35.6
523794     6.7      1.0   21.4     18.1   999         0            0.0   30.5

        TModB  Comments
1275     26.1       NaN
1287     24.1       NaN
2495     39.0       NaN
2496     37.4       NaN
2497     35.9       NaN
...       ...       ...
519396   50.0       NaN
522183   37.3       NaN
522184   36.4       NaN
522185   35.6       NaN
523794   30.6       NaN

[3665 rows x 19 columns]